body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('bg3.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    color: #3c7962;
}
.container {
    background: #fff;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-group {
    margin-bottom: 15px;
    text-align: left;
}

.contact-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="tel"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.divider {
    margin: 20px 0;
    height: 1px;
    background: #ddd;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3c7962;
}

.personal-contact {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-input {
    flex-grow: 1;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #0056b3;
}

.save-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.save-btn:hover {
    background-color: #218838;
}
